# ワークフロー名
name: ranking_update

# 発火タイミング
on:
  push:
  

jobs:
  build:
    # Ubuntuの最新版環境内で処理
    runs-on: ubuntu-latest

    # 実行する処理＆コマンド指定
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v1
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas
          pip install gspread
          pip install google
          pip install requests
          pip install gspread-dataframe
          pip install selenium==4.1.0
          pip install bs4==4.11.1
      - name: Run script
        run: |
         # 各種pythonファイルの実行
          python ameba.py
          python cmoa.py
          python dmm.py
